* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Unbounded', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;700&display=swap');

.title {
    font-size: 2.5rem;
    text-align: center;
    color: orange;
    text-shadow: 0 -1px 0 #fff
        0 2px 0 #f00,
        0 4px 0 #60f,
        -2px -2px 15px #f06,
        2px -2px 15px #f06,
        -2px 2px 15px #f06,
        2px 2px 15px #f06,
}

body {
    background-color: #000;
}

.game-board {
    width: 900px;
    height: 600px;
    border: 1px solid #000;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    background: url(./image/field.jpg) repeat;
    animation: grassAnimation 25s linear infinite;
}

@keyframes grassAnimation {
    from {background-position: 0 0;}
    to {background-position: 0 100%;}
}

.player {
    width: 80px;
    height: 50px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
    background-color: blue;
    background: url(./image/player.png) no-repeat center / contain;
}

.ball {
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: yellowgreen;
    background: url(./image/ball.png) no-repeat center / contain;
}

.highscore {
    text-align: center;
    color: #fff;
}

.game-over {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 50vh;
    height: 70vh;
    background: url(./image/GameOver.png) no-repeat center / cover;
}

.counter {
    color: yellowgreen;
    font-size: 3rem ;
}

.end-title {
    color: red;
}

.start-again-btn {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
    padding: .5rem;
    font-size: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: yellowgreen;
    background-color: #c40;
}

.hearts {
    width: 3%;
}

.hearts.hide {
    display: none;
}

@media screen and (max-width: 768px) {
    .game-board {
        width: 90vw;
        height: 90vw;
    }

    .player {
        width: 10%;
        height: 10%;
    }

    .ball {
        width: 5%;
        height: 5%;
    }
}

@media screen and (max-width: 480px) {
    .counter {
        font-size: 24px;
    }

    .title {
        font-size: 32px;
    }

    .heart {
        width: 16px;
        height: 16px;
    }

    .game-over {
        font-size: 32px;
    }

    .start-again-btn {
        font-size: 16px;
        padding: 8px 16px;
    }
}